@use '../variables' as *;

@mixin body($size: 3, $font: null, $weight: null, $line-height: null) {
  @if $font == 'sans-serif-semibold' {
    font-family: $typeface-sans-serif;
    font-weight: $font-weight-semibold;
  } @else {
    font-family: $typeface-sans-serif;
    font-weight: $font-weight-regular;
  }

  @if $size == 1 { font-size: $body-01-font-size; line-height: $body-01-line-height; }
  @else if $size == 2 { font-size: $body-02-font-size; line-height: $body-02-line-height; }
  @else if $size == 3 { font-size: $body-03-font-size; line-height: $body-03-line-height; }
  @else if $size == 4 { font-size: $body-04-font-size; line-height: $body-04-line-height; }
}

@mixin heading($size: 6, $font: null, $weight: null, $line-height: null) {
  font-family: $typeface-sans-serif;
  font-weight: $font-weight-semibold;

  @if $size == 1 { font-size: $heading-01-font-size; line-height: $heading-01-line-height; }
  @else if $size == 3 { font-size: $heading-03-font-size; line-height: $heading-03-line-height; }
  @else if $size == 4 { font-size: $heading-04-font-size; line-height: $heading-04-line-height; }
  @else if $size == 5 { font-size: $heading-05-font-size; line-height: $heading-05-line-height; }
  @else if $size == 6 { font-size: $heading-06-font-size; line-height: $heading-06-line-height; }
  @else if $size == 7 { font-size: $heading-07-font-size; line-height: $heading-07-line-height; }
}

@mixin caption($size: null, $font: null, $weight: null, $line-height: null) {
  font-family: $typeface-sans-serif;
  font-size: $body-04-font-size;
  line-height: $body-04-line-height;
}
